@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

body{
    font-family: 'Commissioner', sans-serif;
    box-sizing: border-box;
}

body, section ul li, p, figcaption, a, nav ul li{
    font-size: 1.3em;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5%;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

.header-container {
    margin: 0 calc(var(--bs-gutter-x)/ -2);
}

ul li {
    margin: 0;
    list-style: none;
}

nav ul li{
    padding-top: 2%;
}

nav ul li a, a:visited, .button, footer h3, footer a{
    color: #FFFFFF;
    font-weight: bold;
} 

a {
    text-decoration: none;
}

a:hover{
    color:#80F2FF;
}

section a{
    color: #000000;
}

h1{
    color: #80F2FF;
    font-family: 'Sacramento', cursive;
    font-size: 7.0em;
}

h2{
    font-size: 2em;
    color: #000000;
} 

h3{
    font-family: 'Sacramento', cursive;
    color: #52412D;
    font-size: 3.5em
}

.carousel {
    max-height: 100vh;
}

.carousel-item {
    background-size: cover;
    min-height: 100vh;
}

.hero1 {
    background-image: url('../imgs/sections/hero.jpg');
}

.hero2 {
    background-image: url('../imgs/sections/hero2.jpg');
}

.hero3 {
    background-image: url('../imgs/sections/hero3.jpg');
}

.carousel-caption {
    bottom: 15rem;
    left: 10%;
}

.carousel-caption h2 {
    padding-left: 3rem;
}

.subtitle{
    color: #E4FFFD;
    font-size: 3.750em;
}

.quote{
    color: #80F2FF;
    font-size: 2.5em;
}

p{
    color: #000000;
}

.btn-primary {
    background-color: #52412D;
    border-color: #52412D;
    padding: 5%;
    font-size: 1.3em;
    border-radius: 25px;
}

.article{
    padding: 10%;
    text-align: center;
}

article p {
    margin: 5%;
    text-align: left;
}

.main-content section {
    min-height: 100vh;
    border-top: #52412D 5px solid;
}

.meet-our .aside-img {
    background-image: url('../imgs/sections/1s.webp');
    background-size: cover;
}

.atmosphere .aside-img {
    background-image: url('../imgs/sections/2s.webp');
    background-size: cover;
}

footer .row{
    background-color: #52412D;
}

footer .contact-icon {
    width: 25px;
}

footer .contact{
    padding: 3%;
}

footer .contact h3{
    padding-left: 5%;
}

footer .contact li {
    display: flex;
    align-items: center;
}

footer .contact li a {
    margin-left: 20px;
}

footer .follow {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .follow img{
    width: 80px;
}
