@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

body{
    font-family: 'Commissioner', sans-serif;
}

body, section ul li, p, figcaption, a, nav ul li{
    font-size: 1.3em;
}

ul li{
    list-style: none;
}
nav ul li a, a:visited, .button, footer h3, footer a{
    color: #FFFFFF;
} 

a{
    text-decoration: none;
}

a:hover{
    color:#80F2FF;
}

section a{
    color: #000000;
}

h1{
    color: #80F2FF;
    font-family: 'Sacramento', cursive;
    font-size: 8.750em;
}

h2{
    font-size: 2em;
    color: #000000;
} 

h3{
    font-family: 'Sacramento', cursive;
    color: #52412D;
    font-size: 4.375em
}


.subtitle{
    color: #E4FFFD;
    font-size: 3.750em;
}

.quote{
    color: #80F2FF;
    font-size: 2.5em;
}

p{
    color: #000000;
}

footer{
    background-color: #52412D;
}
footer img{
    width: 3%;
}

